<div>
<h1>Administration</h1>

<div style="text-align: center;">
  
  <p></p><img src ="https://www.cpe.ku.ac.th/wp-content/uploads/2015/01/Anan-New.jpg"><br/>Assoc. Prof. Anan  PHONPHOEM<br/>2014 – present</p><br/>
  <p></p><img src ="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-8-8-30.jpg"><br/>Asst. Prof. Putchong  UTHAYOPAS<br/>2011 – 2014</p><br/>
  <p></p><img src ="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-7-7-15.jpg"><br/>Asst. Prof. Kemathat VIBHATAVANIJ<br/>2006 – 2010</p><br/>
  <p></p><img src ="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-45-45-25.jpg"><br/>Asst. Prof. Pirawat WATANAPONGSE<br/>2002 -2006</p><br/>
  <p></p><img src ="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-2-2-24.jpg"><br/>Assoc. Prof. Pradondet  NILAGUPTA<br/>1999 – 2002</p><br/>
  <p></p><img src ="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-18-18-6.jpg"><br/>Asst. Prof. Somnuk  KERETHO<br/>1996 – 1999</p><br/>
  <p></p><img src ="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-14-14-13.jpg"><br/>Assoc. Prof. Chaiyong WONGCHAISUWAT<br/>1992 – 1999</p><br/>
  <p></p><img src ="https://www.cpe.ku.ac.th/wp-content/uploads/2015/06/รูปนนทวัฒน์สูท.jpg"><br/>Nontawat JUNJAREON<br/>1989  – 1992</p><br/>

</div>
</div>