<div>
<h1>Contact Us</h1>
<br>
<br>
<hr width="80%" color="gray">
<br>
<br>
<p>ภาควิชาวิศวกรรมคอมพิวเตอร์ คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเกษตรศาสตร์ (วิทยาเขตบางเขน)</p>
<p>เลขที่ 50 ถนนงามวงศ์วาน แขวงลาดยาว</p>
<p>เขตจตุจักร กรุงเทพ ฯ 10900</p><br>
<p>โทร. 0-2797-0999 ต่อ 1403-04 1450</p><br>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15296.156474927724!2d100.56942579810745!3d13.846088836168404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29cde06012b57%3A0xf0100b33d0b3170!2sKasetsart+University!5e0!3m2!1sen!2sus!4v1495694255577" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>