<h1>ปริญญาตรีสาขาวิศวกรรมคอมพิวเตอร์</h1>
<br>
<h1>ชื่อปริญญา</h1>
<br>
<p>ชื่อเต็ม : วิศวกรรมศาสตรบัณฑิต (วิศวกรรมคอมพิวเตอร์)</p>
<p>ชื่อย่อ    : วศ.บ. (วิศวกรรมคอมพิวเตอร์)</p>
<p>ชื่อเต็ม  : Bachelor of Engineering (Computer Engineering)</p>
<p>ชื่อย่อ    : B.Eng. (Computer Engineering)</p>
<br>
<h1>หลักสูตร<h1>
<br>
<p>จำนวนหน่วยกิตรวมตลอดหลักสูตร ไม่น้อยกว่า 141 หน่วยกิต</p>
<br>
<h1>โครงสร้างหลักสูตร/h1>
<br>
<p>1.หมวดวิชาศึกษาทั่วไป ไม่น้อยกว่า 30 หน่วยกิต</p>
<li>กลุ่มวิชาวิทยาศาสตร์และคณิตศาสตร์ 10 หน่วยกิต</li>
<li>กลุ่มวิชาภาษา 12 หน่วยกิต</li>
<li>กลุ่มวิชาสังคมศาสตร์ 3 หน่วยกิต</li>
<li>กลุ่มวิชามนุษยศาสตร์ 3 หน่วยกิต</li>
<li>กลุ่มวิชาพลศึกษา 2 หน่วยกิต</li>
<p>2.หมวดวิชาเฉพาะ ไม่น้อยกว่า 105 หน่วยกิต<p>
<li>วิชาแกน 21 หน่วยกิต</li>
<li>วิชาเฉพาะบังคับ 66 หน่วยกิต</li>
<li>วิชาเฉพาะเลือก 18 หน่วยกิต</li>
<p>3.หมวดวิชาเสรีไม่น้อยกว่า 6 หน่วยกิต </p>
<p>การฝึกงาน ไม่น้อยกว่า 240 ชั่วโมง (ไม่นับหน่วยกิต)</p>
