<footer class="footer">
<div id="nav">
<small>




</small>

<nav>

<ul>
<p>Department Of Computer Engineering</p>
<li><%= link_to "Contact",contactus_path %></li>

<a href="https://www.facebook.com/KasetsartCPE">
  <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/256/social-facebook-icon.png" alt="faceb" style="width:40px;height:40px;border:0;">
</a>
<a href="mailto:cpe@ku.ac.th">
  <img src="http://icons.iconarchive.com/icons/dtafalonso/android-l/128/Gmail-icon.png" alt="mail" style="width:40px;height:40px;border:0;">
</a>
<a href="https://www.youtube.com/user/admissionengku">
  <img src="https://www.youtube.com/yt/brand/media/image/YouTube-icon-full_color.png" alt="youtube" style="width:40px;height:40px;border:0;">
</a>

</ul>

</nav>
</div>
</footer>