<footer class="footer">
<div id="nav">
<small>




</small>

<nav>

<ul>
<li>Department Of Computer Engineering</li>
<li><%= link_to "Contact",contactus_path %></li>

<a href="https://www.facebook.com/KasetsartCPE">
  <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/256/social-facebook-icon.png" alt="HTML tutorial" >
</a>

</ul>

</nav>
</div>
</footer>