<footer class="footer">

<div id="nav">
<small>




</small>

<nav>

<ul>


<div style = "text-align : right"><li><%= link_to "Contact",contactus_path %></li></div>

<a href="https://www.facebook.com/KasetsartCPE">
  <div style = "float : right;"><img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/256/social-facebook-icon.png" alt="faceb" style="width:40px;height:40px;border:0;"></div>
</a>
<a href="mailto:cpe@ku.ac.th">
  <div style = "float : right;"><img src="http://icons.iconarchive.com/icons/dtafalonso/android-l/128/Gmail-icon.png" alt="mail" style="width:40px;height:40px;border:0;"></div>
</a>
<a href="https://www.youtube.com/user/admissionengku">
  <div style = "float : right;"><img src="https://www.youtube.com/yt/brand/media/image/YouTube-icon-full_color.png" alt="youtube" style="width:35px;height:35px;border:0;"></div>
</a>

</ul>

</nav>
</div>
</footer>