<footer class="footer">
<div id="nav">
<small>

The <a href="">Department Of Computer Engineering</a>



</small>

<nav>

<ul>

<li><%= link_to "Contact",contactus_path %></li>

<li><a href="">News</a></li>

</ul>

</nav>
</div>
</footer>